---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HCA Wage Calculator</title>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css" />
	</head>
	<body>
		<script>
			// NEW
			/// ATB increases and cumulative increase
			var atbincrease = [1.0525, 1.045, 1.04],
				cumulative = atbincrease.reduce((a, b) => a + b)

			// adding commas function
			function commaSeparateNumber(val) {
				while (/(\d+)(\d{3})/.test(val.toString())) {
					val = val.toString().replace(/(\d+)(\d{3})/, "$1" + "," + "$2")
				}
				return val
			}
			function calculate() {
				let inputHourlyWage = document.getElementById("inputHourlyWage").value
				let inputHours = document.getElementById("inputHours").value

				let firstWage = inputHourlyWage * atbincrease[0]
				let firstSalary = firstWage * inputHours * 52
				document.getElementById("firstWage").innerHTML =
					"$" + commaSeparateNumber(firstWage.toFixed(2))
				document.getElementById("firstSalary").innerHTML =
					"$" + commaSeparateNumber(firstSalary.toFixed(2))

				let secondWage = firstWage * atbincrease[1]
				let secondSalary = secondWage * inputHours * 52
				document.getElementById("secondWage").innerHTML =
					"$" + commaSeparateNumber(secondWage.toFixed(2))
				document.getElementById("secondSalary").innerHTML =
					"$" + commaSeparateNumber(secondSalary.toFixed(2))

				let thirdWage = secondWage * atbincrease[2]
				let thirdSalary = thirdWage * inputHours * 52
				document.getElementById("thirdWage").innerHTML =
					"$" + commaSeparateNumber(thirdWage.toFixed(2))
				document.getElementById("thirdSalary").innerHTML =
					"$" + commaSeparateNumber(thirdSalary.toFixed(2))
				// Removed Minimum
			}

			document.body
				.querySelector("#wage-form")
				.addEventListener("submit", (e) => {
					e.preventDefault()
					calculate()
				})
			document.getElementById("inputHourlyWage").defaultValue = 25
			document.getElementById("inputHours").defaultValue = 40
		</script>
		<main>
			<h1 class="title">HCA Wage Calculator</h1>
			<form id="wage-form">
				<div class="input">
					<div>
						<label
							>Hourly Wage
							<input type="number" id="inputHourlyWage" />
						</label>
					</div>
					<div>
						<label
							>Hours per Week
							<input type="number" id="inputHours" />
						</label>
					</div>
				</div>
				<input type="submit" value="Calculate" />
			</form>

			<table id="customers">
				<thead>
					<tr>
						<th>Time Period</th>
						<th>Percent Increase</th>
						<th>New Hourly Wage</th>
						<th>New Annual Gross Wage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>June 2023</td>
						<td id="firstIncrease">5.25%</td>
						<td id="firstWage">$26.31</td>
						<td id="firstSalary">$54,730.00</td>
					</tr>
					<tr>
						<td>April 2024</td>
						<td>4.50%</td>
						<td id="secondWage">$27.50</td>
						<td id="secondSalary">$57,192.85</td>
					</tr>
					<tr>
						<td>April 2025</td>
						<td>4.00%</td>
						<td id="thirdWage">$28.60</td>
						<td id="thirdSalary">$59,480.56</td>
					</tr>
				</tbody>
			</table>
			<p>
				<i
					>NOTE: This calculator understates the total additional take home for
					our members because it does not factor in step increases.</i
				>
			</p>
		</main>
	</body>
</html>
